.container {
    height: 100vh;
    background-image:url(/free-photo-of-smiling-woman-holding-lemon-slices-on-sunny-balcony.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* Shorthand image, repeat, position, size */
    background: url(/free-photo-of-smiling-woman-holding-lemon-slices-on-sunny-balcony.jpeg) no-repeat center center/cover;
}
.box{
    border: 10px dotted red;
    /* all sides */
    margin: 10px;
    /* top, right, bottom, left */
    margin: 10px 20px 30px 40px ;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
    /* all sides */
    padding: 10px ;
    /* top, right, bottom, left */
    padding: 10px 20px 30px 40px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 40px;
}