*{
    margin: 0;
    padding: 0;
}
.navbar {
   display: flex;
   justify-content: space-around;
   align-items: center; 
   background-color: transparent;
   height: 70px;
   
}
.navbar ul{
    display: flex;
    gap: 10px;
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
color: aquamarine;
font-size: 25px;
}
.heading {
    font-size: 50px;
}